
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-center custom-card-pie"> 
                <div class="card-body">
                    <h6 class="text-info">Budgets and Expenses</h6>
                    <div class="PieChart">
                        <canvas id="BudgetsAndExpensesPieChart" style="width:200px;height:200px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center custom-card">
                <div class="card-body">
                    <h6 class="text-info">
                        Choose <a class="budgets text-primary">Budgets</a> or <a class="expenses text-danger" >Expenses</a>
                    </h6>
                    <div class="BudgetsAndExpensesProgessBars">
                        <div class="divProgressBars">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
