@model BudgetManager.Models.Budget

@{
    ViewData["Title"] = "Register a new budget";
}

<div class="forms">
    <div class="card">
        <div class="card-header alert alert-success">
            <h6>
                <i class="fas fa-exclamation-triangle"></i> &emsp; Register a new budget
            </h6>
        </div>

        <form asp-action="Create">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Value"></label>
                    <input type="text" asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea rows="2" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <input asp-for="AppUsersId" type="hidden" />                

                <div class="row">
                    <div class="col-3">
                        <label asp-for="Day"></label>
                        <input type="text" asp-for="Day" class="form-control" />
                        <span asp-validation-for="Day" class="text-danger"></span>
                    </div>

                    <div class="col-6">
                        <label asp-for="MonthId" class="">Month</label>
                        <select asp-for="MonthId" class="form-control" asp-items="ViewBag.MonthId"></select>
                        <span asp-validation-for="MonthId" class="text-danger"></span>
                    </div>

                    <div class="col-3">
                        <label asp-for="Year"></label>
                        <input type="text" asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Create" class="btn btn-success btn-sm" /> &emsp;
                <a asp-action="Index" class="btn btn-link btn-sm">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}